/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.nav-left {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
  margin-right: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}
.auth-buttons button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(30, 84, 112);
  font-weight: bold;
}