.footer {
  background: white;
  border-top: 1px solid var(--border);
  padding: 80px 0 40px;
  margin-top: 100px;
}

.footer-content {
  text-align: center;
}

.footer-content h3 {
  color: var(--primary);
  margin-bottom: 16px;
}

.footer-content p {
  max-width: 600px;
  margin: auto;
  color: var(--text2);
  margin-bottom: 20px;
}